.cart{
    margin-top: 100px;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: gray;    
    font-size: max(1vw,12px);
}

.cart-items-item{
    margin: 10px 0px;
    color:black ;
}

.cart-items-item img{
    width: 60px;
}


.cart hr{
    height: 1px;
    border: none;
    background-color: lightgray;
}


.cross{
    margin-left:5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 40%;
    width: 20px;
    height: 20px;
    cursor: pointer;

}

.cross:hover{
    transform: scale(1.05);
}



.cart-bottom{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    gap: max(12vw,20px);

}


.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.cart-total-details{
    display: flex;
    justify-content: space-between;
   
    color:#555 ;
}