.appdownload{
    margin:auto auto;
    margin-top: 100px;
    margin-bottom: max(3vw,20px);
    text-align: center;
    font-weight: 500;
}


.app-download-platform{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.app-download-platform img{
    width: 150px;
    cursor: pointer;
    max-width: 180px;
    transition: 0.5s;
}


.app-download-platform img:hover{
    transform: scale(1.1);
}